<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrg.myshop.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.rrg.myshop.entity.Goods">
    <!--@mbg.generated-->
    <!--@Table goods-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="good_classfiy" jdbcType="INTEGER" property="goodClassfiy" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
    <result column="good_detail" jdbcType="VARCHAR" property="goodDetail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, price, url, good_classfiy, `delete`, good_detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.rrg.myshop.entity.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods (price, url, good_classfiy, 
      `delete`, good_detail)
    values (#{price,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{goodClassfiy,jdbcType=INTEGER}, 
      #{delete,jdbcType=INTEGER}, #{goodDetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.rrg.myshop.entity.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="price != null">
        price,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="goodClassfiy != null">
        good_classfiy,
      </if>
      <if test="delete != null">
        `delete`,
      </if>
      <if test="goodDetail != null">
        good_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="goodClassfiy != null">
        #{goodClassfiy,jdbcType=INTEGER},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="goodDetail != null">
        #{goodDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rrg.myshop.entity.Goods">
    <!--@mbg.generated-->
    update goods
    <set>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="goodClassfiy != null">
        good_classfiy = #{goodClassfiy,jdbcType=INTEGER},
      </if>
      <if test="delete != null">
        `delete` = #{delete,jdbcType=INTEGER},
      </if>
      <if test="goodDetail != null">
        good_detail = #{goodDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rrg.myshop.entity.Goods">
    <!--@mbg.generated-->
    update goods
    set price = #{price,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      good_classfiy = #{goodClassfiy,jdbcType=INTEGER},
      `delete` = #{delete,jdbcType=INTEGER},
      good_detail = #{goodDetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>